html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1,
h4,
h6,
p {
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  padding-left: 3vw !important;
  padding-right: 3vw !important;
}

.navbar {
  background-color: black !important;
  border-bottom: 1px solid #fff;
  padding: 3vh;
  height: 10vh;
  z-index: 999;
  /* sticky  */
  position: fixed;
  top: 0;
  width: 100%;
}

.jumbotron {
  margin-bottom: 0;
  border: none;
  border-radius: 0%;
}

.jumbotron-home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/jumbotron-home (2).jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.inner-jumbotron-home {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30vw;
}

.jumbotron-about {
  background: linear-gradient(rgba(54, 136, 173, 1), rgba(54, 136, 173, 1));
  top: 0;
  width: 100vw;
  height: 90vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.jumbotron-projects {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/jumbotron-projects.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.inner-jumbotron-about {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70vw;
}

.inner-jumbotron-contact {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-me-icon {
  color: #fff;
  width: 15vw;
  height: auto;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.modal-text {
  color: black !important;
}

.white-text {
  color: #fff !important;
}

.card-text {
  color: black;
}

.courier {
  font-family: "Courier New", Courier, monospace;
}

.inner-jumbotron-projects {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70vw;
}

.jumbotron-contact {
  background: linear-gradient(rgba(142, 76, 150, 1), rgba(142, 76, 150, 1));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  width: 100vw;
  height: 50vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.social-links {
  width: 20vw;
  margin: auto;
}

.social-icons {
  color: #fff;
  width: 3vw;
  height: auto;
}

.contact-text {
  margin-bottom: 2.5vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .inner-jumbotron-home {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80vw;
  }

  .jumbotron-projects {
    height: 100%;
  }

  .top-button {
    margin-bottom: 2vh;
  }

  .jumbotron-heading {
    margin-top: 5vh;
  }

  .jumbotron-home {
    height: 100vh;
  }

  .about-col-heading {
    margin-top: 1vh;
  }

  .about-me-icon {
    width: 25vw;
  }

  .navbar-collapse {
    background-color: black;
    width: 100%;
    padding: 10%;
    border: 1px solid white;
  }

  .navbar-toggler {
    border: 1px solid white;
  }

  .social-links {
    width: 60vw;
    margin: auto;
  }

  .social-icons {
    color: #fff;
    width: 8vw;
    height: auto;
  }
}
